# =============================
# Global
# =============================
# root: "~/.cache/huggingface/lerobot"          # local root directory for datasets
repo_id: "nimiCurtis/test_01" # dataset path relative to the root directory
robot_type: "so101_follower"             # Support only -> so101_follower
episode_per_bag: true                    # split each rosbag into one episode # Not used currently
downsample_by: 1                         # use every frame
force: true                             # overwrite existing datasets
upload_to_hub: true                     # upload to HF hub after conversion
task_text: "pick and place"

# =============================
# ---- Video settings ----
# pick one of: image:<name> | state | action
# when using images, set to "image:wrist" (or any listed below)
sync_reference: "image:wrist"
sync_tolerance_s: 0.0165                  # max time diff for sync (in seconds). Should be <= 1/fps.

use_videos: true
fps: 30
video:
  codec: "av1"
  pix_fmt: "yuv420p"
  is_depth_map: false
  has_audio: false
  writer_processes: 4
  writer_threads: 4

# multiple image streams; each has its own key, shape, and topic
images:
  wrist:
    key: "observation.images.wrist"
    shape: [360, 640, 3]
    topic: "/follower/cam_front/image_raw"

# =============================
# ---- Observation & Action schema ----
# Both are 6-D joint vectors (float32), e.g., joint angles in radians or normalized units.
state:
  key: "observation.state"
  size: 6
  # msg_type: "sensor_msgs/msg/JointState" # Optional

action:
  key: "action"
  size: 6
  # msg_type: "sensor_msgs/msg/JointState" # Optional

# Use Lerobot normalized ranges for joints
use_lerobot_ranges_norms: false

# If you want a specific joint order, list exactly 6 names (must match JointState.name).
# If left empty, the converter takes the FIRST 6 positions in the message.
joint_order: ["shoulder_pan", "shoulder_lift", "elbow_flex", "wrist_flex", "wrist_roll", "gripper"]
# =============================
# ---- ROS 2 settings ----
# ROS 2 topics (ALL REQUIRED; set action to same as state if needed)
topics:
  state:  "/follower/joint_states"       # sensor_msgs/JointState
  action: "/leader/joint_commands"       # sensor_msgs/JointState

bags_root: "/home/nimrod/dev/so101_rosbag2lerobot_dataset/bag"
# =============================
